{% extends 'base.html.twig' %}

{% block body %}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Kamila & Mateusz</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#wesele">Ślub i Wesele</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#kontakt">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">KAMILA & MATEUSZ</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">
                    <span id="countdown"></span>
                </h2>
            </div>
        </div>
    </header>
{#    <!-- Featured Project Row-->#}
{#    <div class="row align-items-center no-gutters mb-4 mb-lg-5">#}
{#        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ asset('assets/img/demo-image-01.jpg') }}" alt="" /></div>#}
{#        <div class="col-xl-4 col-lg-5">#}
{#            <div class="featured-text text-center text-lg-left">#}
{#                <h4>Biała Przystań</h4>#}
{#                <p class="text-black-50 mb-0">Lokal weselny nosi nazwę Biała Przystań.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- Projects-->
    <section class="projects-section bg-light" id="wesele">
        <div class="container">
            <!-- Project One Row-->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="{{asset('assets/img/demo-image-01.jpg')}}" alt="" /></div>
                <div class="col-lg-6">
                    <div class="bg-yellow text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-black">Biała Przystań</h4>
                                <p class="mb-0 text-black-50">
                                    Sala weselna znajduja się w miejscowości Łęki Dolne w województwie podkarpackim w odległości
                                    20km od Tarnowa.
                                    <a class="text-dark" href="https://bialaprzystan.pl/en" target="_blank">
                                        Strona internetowa obiektu
                                    </a>
                                </p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="{{asset('assets/img/demo-image-02.jpg')}}" alt="" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-y text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-black">Parafia Rzymskokatolicka pw. Św. Katarzyny PM w Ryglicach</h4>
                                <p class="mb-0 text-black-50">
                                    Kościół Parafialny, którego terytorium obejmuje Ryglice, część Bistuszowej, Joniny oraz Uniszową.
                                    Znajduje się w mieście Ryglice.
                                    <a class="text-bold text-dark" href="https://ryglice-wiz.diecezja.tarnow.pl/#start" target="_blank">
                                        Strona internetowa Parafii
                                    </a>
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="contact-section" id="kontakt">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Biała przystań</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">
                                Łęki Dolne 194B <br>
                                39-221 Łęki Dolne
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <i class="fas fa-map-marker text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Kościół w Ryglicach</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">33-160 Ryglice, Ks. J. Wyrwy 6</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">mateusz@email.com</div>
                            <div class="small text-black-50">kamila@email.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Telefon</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50"><span class="text-muted">Kamila</span> +48 (555) 902-8832</div>
                            <div class="small text-black-50"><span class="text-muted">Mateusz</span> +48 (555) 902-8832</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Kamila & Mateusz 2020</div></footer>

{% endblock %}

{% block javascripts %}
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Aug 7, 2021 14:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("countdown").innerHTML = "Do ślubu pozostało " + days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "ŚLUB <3";
            }
        }, 1000);
    </script>
{% endblock %}